@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Black+Han+Sans&family=Gothic+A1:wght@500&family=Jua&family=Permanent+Marker&display=swap");
@import "reset.css";
@import "searching.css";
@import "background.css";

body {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.Welcome-header,
.Searching,
.Imformation,
.End {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.Welcome-header__title {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 4px;
  stroke: #ffffff;
  font-size: 35px;
  stroke-width: 1;
  animation: textAnimate 6s infinite alternate;
}

.Welcome-header__title2 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 5px;
  stroke: #ffa5d8;
  font-size: 60px;
  stroke-width: 2.5;
  animation: textAnimate 6s infinite alternate;
}

.Welcome-header__title3 {
  font-family: "Gothic A1", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  stroke-width: 0;
  animation: textAnimate 1s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: white;
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: rgba(250, 189, 242, 0);
  }
}

.End > a {
  height: 100px;
  margin-top: 50px;
  color: rgb(130, 197, 255);
}

@media (max-width: 1000px) {
  body {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
}
