/*카메라 이미지 버블 효과 css*/

.bubble {
  display: block;
  margin-bottom: 5px;

  position: relative;
  width: 2em;
  height: 2em;
  border-radius: 50%;

  font: 1em/1.5 sans-serif;

  transform-style: preserve-3d;
  transition-property: box-shadow, transform, width, height;
  transition-timing-function: ease-in-out, ease-in-out, var(--bubbleTiming),
    var(--bubbleTiming);

  will-change: transform;

  -webkit-appearance: none;
  appearance: none;
  z-index: 0;

  -webkit-tap-highlight-color: transparent;

  background-image: radial-gradient(
      8% 8% at 22% 28%,
      hsl(0, 0%, 100%) 45%,
      hsla(0, 0%, 100%, 0) 50%
    ),
    radial-gradient(
      8% 8% at 23% 27%,
      hsl(0, 0%, 100%) 45%,
      hsla(0, 0%, 100%, 0) 50%
    ),
    radial-gradient(
      8% 8% at 24% 26%,
      hsl(0, 0%, 100%) 45%,
      hsla(0, 0%, 100%, 0) 50%
    ),
    radial-gradient(
      8% 8% at 25% 25%,
      hsl(0, 0%, 100%) 45%,
      hsla(0, 0%, 100%, 0) 50%
    ),
    radial-gradient(
      8% 8% at 26% 24%,
      hsl(0, 0%, 100%) 45%,
      hsla(0, 0%, 100%, 0) 50%
    ),
    radial-gradient(
      8% 8% at 27% 23%,
      hsl(0, 0%, 100%) 45%,
      hsla(0, 0%, 100%, 0) 50%
    ),
    radial-gradient(
      8% 8% at 28% 22%,
      hsl(0, 0%, 100%) 45%,
      hsla(0, 0%, 100%, 0) 50%
    );

  box-shadow: 0 -0.06em 0.1em hsl(0, 90%, 100%) inset,
    0 -0.15em 0.4em hsl(293, 100%, 21%) inset,
    0 0.05em 0.05em hsl(305, 100%, 26%) inset,
    0.05em 0 0.1em hsl(0, 90%, 100%) inset,
    -0.05em 0 0.1em hsl(0, 90%, 100%) inset,
    0 0.1em 0.4em hsl(310, 100%, 30%) inset;

  transition-duration: 0.2s;
  animation: float 4s ease-in-out infinite;
}

/* Reduced motion */
@media (prefers-reduced-motion: reduce) {
  .bubble {
    transition-duration: 0s;
  }

  .bubble:focus {
    transform: scale(1);
  }

  .bubble:focus:active {
    width: 2em;
    height: 2em;
  }

  .bubble:focus:before {
    filter: drop-shadow(0.6em 0.6em 4px hsla(0, 0%, 0%, 0.2));
  }

  .bubble:focus:after {
    transform: translate3d(0, 0, -1px);
  }
}

/* Animations */
@keyframes float {
  from,
  to {
    transform: translate(0, 3%);
  }
  25% {
    transform: translate(-3%, 0);
  }
  50% {
    transform: translate(0, -3%);
  }
  75% {
    transform: translate(3%, 0);
  }
}
